body{
    
    background-color: red;
}

p{
    
    background-color: gray;
    color: #fff;
}

#selektor-po-id{
    
    color: yellow;
}

.selektor-po-klasie {
	
    color: violet;
}

#moniki p {
	
    color: greenyellow;
}

#moniki > p {
    
    color: orange;
}

#moniki > div > div > p {
	
    background-color: darkseagreen;
}

p#selektor-po-id ~ p{
    
    color: orange;
}

p#selektor-po-id + p{
    
    color: magenta;
}
