body{
    
    background-color: lightblue;
}

#kontener{
    
    background-color: beige;
    padding: 10px;
    z-index: 100;
}

div{
    
    margin: 10px;
}

div#kontener > div#pierwszy {
    
    background-color: gold;
    position: relative;
    top: 30px;
    left: 60px;
}

div#kontener > div#drugi {
    
    background-color: lime;
}

#kontener-abs{
    
    background-color: lightgreen;
    padding: 10px;
    position: relative;
    top: 20px;
    left: 40px;
}

div{
    
    margin: 10px;
}

div#kontener-abs > div#pierwszy-abs {
    
    background-color: darkorange;
    position: absolute;
    top: 30px;
    left: 60px;
}

div#kontener-abs > div#drugi-abs {
    
    background-color: darkcyan;
}